@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url("https://images.unsplash.com/photo-1575909812264-6902b55846ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	margin: 0;
}

h1 {
	font-weight: bold;
	font-size: 3rem;
	margin-top: -16rem;
}

.countdown-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.text {
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1;
	margin: 0 2rem;
}

.base-style {
	text-align: center;
}

.base-style span {
	font-size: 1.2rem;
}

.logo {
	background-image: url("https://ktu.edu/wp-content/uploads/2016/08/logo_ukrainos_veliava.svg");
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 4rem;
	height: 3rem;
}
